/* General */
body {
	font-family: monospace;
    font-size: larger;
    margin: 0 auto;
}



/* Nav */
#nav-index, #footer-index {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-logo_link, .footer-logo_link, .nav-links {
    display: flex;
    justify-content: space-around;
}

.nav-links {
    width: 40%;
    font-size: x-large;
}

.nav-links li {
    list-style-type: none;
}

.nav-links li a {
    text-decoration: none;
}

#nav-logo, #footer-logo {
    display: flex;
    align-items: center;
}

.nav-logo_link, .footer-logo_link { 
    text-decoration: none;
}

.nav-logo_link img, .footer-logo_link img { 
    width: 25px;
}

#nav-index a {
    color: #212529;
}

#nav-index a:hover {
    color: #008c4b;
}

.nav-logo_texto, .footer-logo_texto {
    font-size: xx-large;
    margin-top: 4px;
    margin-bottom: 0px;
    padding-left: 10px;
}

.nav-logo_texto { color: #008c4b; }

#lugares img {
    height: 92vh;
    background-size: cover;
}




/* Footer */
#footer-index { 
    margin: 0 auto;
    background-color: #008c4b;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#footer-logo_texto{ 
    color: white;
}

#footer-logo_img { 
    background-color: white;
    border-radius: 5px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

#footer-index a { 
    color: white;
}




/* Lugares */
#lugares {
    box-sizing: border-box;
    max-width: 1440px;
    margin: auto;
}

.slider-wrapper {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    height: 770px;
}

.slider-wrapper button {
    z-index: 1;
}

.slides-container {
    height: calc(100vh - 2rem);
    width: 100%;
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slide-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    background-color: white;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
}

.slide-arrow:hover,
.slide-arrow:focus {
    opacity: 1;
}

#slide-arrow-prev {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next {
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
}

.slide {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
}

.slide:nth-child(1) {
  background-image: url("src/assets/images/rio-uruguay.jpg");
}

.slide:nth-child(2) {
    background-image: url("src/assets/images/rio-iguazu.jpg");
}

.slide:nth-child(3) {
    background-image: url("src/assets/images/rio-parana.jpg");
    margin: 0;
}

.bloque-opacidad {
    background-color: rgba(0, 0, 0, 0.5);
    height: 770px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    
}

.bloque-texto {
    width: 50%;
    text-align: end;
    padding-right: 10%;
    color: white;
    font-size: x-large;
}

.bloque-texto h4 {
    font-weight: normal;
}




/* Encuentros */
#encuentros {
    margin: 0 auto;
    width: 70%;
}

.oradores-presentacion { text-align: center; }

.oradores-presentacion h5, .card-text { font-weight: lighter; }

#cards {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 390px;
    height: 615px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #d2d2d2;
    border-radius: 10px;
}

.card img {
    width: 390px;
    height: 390px; 
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-body {
    width: 95%;
    margin: 0 auto;
}

.card-body button {
    font-weight: bold;
}

.card-title {
    font-size: x-large;
}

.btn {
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    font-size: large;
}

.arg-uy {
    color: white;
    background-color: #0dcaf0;
}

.bra {
    color: #198753;
    background-color: #ffc107;
}




/* Historia */
#historia { 
    padding-top: 20px;
    width: 70%;
    height: 600px;
    margin: 0 auto;
    display: flex;
}

#historia-img {
    width: 50%;
    background-image: url("src/assets/images/estatua-mate.jpg");
    background-size: cover;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#historia-texto {
    width: 50%;
    background-color: #353a40;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: larger;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}
.historia-encabezado {
    font-size: xxx-large;
}
.historia-emojis {
    font-size: x-large;
}




/* Opiniones */
#opiniones {
    margin: 0;
    padding: 0;
}

#opiniones-tabla {
    width: 70%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

#opiniones-tabla thead {
    background-color: #008c4b;
    color: white;
}

#opiniones-tabla th,
#opiniones-tabla td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

#opiniones-tabla tbody tr:hover {
    background-color: #f2f2f2;
}